<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel = "stylesheet" href= "{% static 'css/loginstyle.css' %}">
    <title>ChangePassword Page</title>
</head>
<body>
    <h2 align="center">Faculty Change Password</h2>
<h3 align="center" style="color:red">{{message}}</h3>
    <div class="container" >
        <form method = "post" >
            {% csrf_token %}
            <label for="username">Enter Old Password:</label>
            <input type="text" placeholder="Enter Username" name="opwd" required>
            <label for="password">Enter New Password:</label>
            <input type="text" placeholder="Enter Password" name="npwd" required>
            <button type="submit">Update</button>
        </form>
    </div>
</body>
</html>