<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Exam Portal</title>
    <link rel="stylesheet" href="{% static 'css/adminhomecss.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha384-..." crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <style>
      .dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 16px;
}

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'facultyhome' %}">AMS Exam Portal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'facultyhome' %}">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
          <li class="nav-item">
              <a  class="nav-link" href="{% url 'facultyhome' %}" style="color:white">Dashboard</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'viewcourses' %}" style="color:white">view courses</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'viewstudent' %}" style="color:white">view students</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'facultyprofile' %}" style="color:white">Profile</a>
          </li>
          <li class="nav-item">
          <a  class="nav-link" href="{% url 'changepasswordfaculty' %}" style="color:white">Change Password</a>
        </li>
      </ul>
    </div>
    <form class="d-flex">
        {% csrf_token %}
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">
          <a href="{% url 'facultylogin' %}">Logout</a>
        </button>
      </form>
  </div>
</nav>
    {% block 'body' %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/facultydashboardcss.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
<br><br>

  <div class="container" align="center">
    <div align = "center">

        <div class="col-md-4 col-xl-4">
            <div class="card bg-c-gtx order-card">
              <div class="card-block">
                <h2 class="text-left"><i class="fas fa-user-graduate f-left"></i><span>&nbsp;&nbsp;<small style="color:white">Total students </small>  3</span></h2>

              </div>
            </div>
          </div>

      <div class="col-md-4 col-xl-4">
        <div class="card bg-c-yellow order-card">
          <div class="card-block">
           <h2 class="text-left"><i class="fas fa-book f-left"></i><span>&nbsp;&nbsp;<small style="color:white">Total Courses</small>  1</span></h2>

          </div>
        </div>
      </div>
    </div>
  </div>


<br><br><br><br><br><br><br><br><br><br>

<script src="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

    {% endblock %}
</body>
</html>
